@CHARSET "UTF-8";
a:link {color: #0099FF} /* 未被访问的链接 蓝色 */
a:visited {color: #0099FF} /* 已被访问过的链接 蓝色 */
a:hover {color: #FF0000} /* 鼠标悬浮在上的链接 红色 */
a:active {color: #FF0000} /* 鼠标点中激活链接 红色 */
a{text-decoration:none;font-size:13px;}
li{margin-top:10px; font-size:14px;}

.type a:link {color: #FF6699} /* 未被访问的链接 蓝色 */
.type a:visited {color: #FF6699} /* 已被访问过的链接 蓝色 */
.type a:hover {color: #FF0000} /* 鼠标悬浮在上的链接 红色 */
.type a:active {color: #FF0000} /* 鼠标点中激活链接 红色 */
.type a{text-decoration:none;font-size:13px;}
li{margin-top:10px; font-size:14px;}